* { 
    padding: 0 ; 
    margin: 0 ; 
    box-sizing: border-box; 
}


.search { 
    margin-top: 3rem ; 
    display: flex; 
    flex-direction: column;
    align-items: center;
}


.row { 
    margin-top: 5rem ; 
    display: flex ; 
    justify-content: center;
}


.author { 
    color: red ; 
    overflow: hidden; 

}

.card-text { 
    font-family: 'Source Code Pro', monospace; 
    line-height: 1.6 ;
    font-size: 20px ;   
    overflow: hidden; 

}

.card-title { 
    font-weight: 800 ; 
    line-height: 1.6 ;  
    color: blue; 
    overflow: hidden; 

}
.show { 
    color: red; 
}

